{% extends "base.html" %}
{% block title %}Sign-up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Inscrição</h3>
    <div class="form-group">
        <label for="email">Endereço de E-mail</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite seu email"
        />
    </div>
    <div class="form-group">
        <label for="first_name">Primeiro Nome</label>
        <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="Digite seu primeiro nome"
        />
    </div>
    <div class="form-group">
        <label for="last_name">Último Nome</label>
        <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="Digite seu último nome"
        />
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input
            type="text"
            class="form-control"
            id="password"
            name="password"
            placeholder="Digite sua senha"
        />
    </div>
    <div class="form-group">
        <label for="password_confirmation">Confirmação da Senha</label>
        <input
            type="password"
            class="form-control"
            id="password_confirmation"
            name="password_confirmation"
            placeholder="Confirme sua senha"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Inscrever-se</button>
</form>
{% endblock %}
